/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1976d2;
    padding: 10px 20px;
    color: white;
  }
  
  .logo h1 {
    font-size: 24px;
  }
  
  .dropdown select {
    padding: 8px 12px;
    font-size: 16px;
    background-color: white;
    color: #1976d2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dropdown select:focus {
    outline: none;
    border-color: #1976d2;
  }
  
  .dropdown {
    display: flex;
    align-items: center;
    width:20%;
  }
  